<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @moment.body %>
</p>

<p>
  <strong>Score:</strong>
  <%= @moment.score %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
